# Caché de Python
__pycache__/
*.pyc
*.pyo


# Entornos virtuales
.venv

# Archivos de ambiente
.env

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Directorios y archivos de IDE
.vscode/
.idea/
*.sublime-workspace

#inside the folder data
#data/processed/*
#data/raw/*


docs/comands.txt
docs/structure.txt
docs/toDoNotes.txt

notes.txt