pandas # Para manipulación de datos
numpy # Para manipulación de datos
matplotlib # Para gráficos
pydantic # Para manejar esquemas de datos
pydantic-settings # Para manejar configuraciones
imblearn #libreria para balancear datos
category_encoders # libreria para codificar variables categóricas
seaborn # libreria para graficos
unidecode # libreria para quitar acentos
joblib # libreria para guardar modelos
pyyaml # libreria para guardar configuraciones
python-dotenv
sklearn

# pip install -r requirements.txt
